@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Book List Page</h1>
	<p><a class="text-dark" asp-area="" asp-page="/BookList/Index">Click Here to view Book List</a></p>
</div>
